*.lo
*.loT
*.o
*.la
*.gcda
*.gcno
Makefile
Makefile.in
.deps
.libs
*~
*#
.#*
*.stamp


aclocal.m4
autom4te.cache
autoregen.sh
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
diff
gtk-doc.make
install-sh
libtool
ltmain.sh
missing
stamp-h.in
stamp-h1

# top level stuff
debian
m4

# address/ stuff
address/libaddress.la
address/test

# agent/ stuff
agent/libagent.la
agent/test
agent/test-add-remove-stream
agent/test-recv
agent/test-stun
agent/test-priority
agent/test-send
agent/test-poll
agent/test-mainloop
agent/stund.pid
agent/test-fallback
agent/test-fullmode
agent/test-restart
agent/test-thread
agent/agent-signals-marshal.h
agent/agent-signals-marshal.c


# stun/ stuff
stun/stunbdc
stun/stund
stun/unknown.c
stun/libstun.la
stun/tools/stunbdc
stun/tools/stund
stun/test-attribute-dump
stun/test-attribute-dump-unknown
stun/test-attribute-pack
stun/test-attribute-pack-unknown
stun/test-attribute-unpack
stun/test-attribute-unpack-unknown
stun/test-attribute-unpack-wrong-length
stun/test-message-dump
stun/test-message-dump-unknown
stun/test-message-pack
stun/test-message-unpack
stun/tests/test-bind
stun/tests/test-conncheck
stun/tests/test-format
stun/tests/test-hmac
stun/tests/test-parse

# local/ stuff
local/liblocal.la
local/list-local-interfaces

# udp/ stuff
udp/libudp.la
udp/udp-client
udp/udp-echo-server
udp/test-fake
udp/test-bsd

# nice/ stuff
nice/libnice.la
nice/libnice.pc
nice/ice-test-client
nice/ice-test-server
nice/jingle-test-server
nice/test-readline
nice/test-util
nice/nice.pc
nice/libnice.symbols
nice/libnice-symbols-test.c

# random/ stuff
random/librandom.la
random/test

# gst/ stuff
gst/libgstnice.la
gst/jingle-gst-test-server

# tests/ stuff
tests/test
tests/test-add-remove-stream
tests/test-address
tests/test-bsd
tests/test-dribble
tests/test-fallback
tests/test-fullmode
tests/test-mainloop
tests/test-priority
tests/test-pseudotcp
tests/test-restart
tests/test-thread
tests/test-new-dribble

docs/reference/libnice/libnice*.txt
docs/reference/libnice/libnice.args
docs/reference/libnice/libnice.hierarchy
docs/reference/libnice/libnice.interfaces
docs/reference/libnice/libnice.prerequisites
docs/reference/libnice/libnice.signals
docs/reference/libnice/libnice.types
docs/reference/libnice/html
docs/reference/libnice/tmpl
docs/reference/libnice/xml

# win32 stuff
win32/vs9/*.user
win32/vs9/libnice.ncb
win32/vs9/libnice.suo
win32/vs9/libnice/
glib/
*.exe
